@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background: #292738;
  --chart: #363447;
  --text-white: #FFFFFF;
  --text-green: #81FBB8;
  --icon-gradient-green: linear-gradient(to bottom, #81FBB8, #28C76F);
  --icon-gradient-red: linear-gradient(to bottom, #FEB692, #EA5455);
  --icon-gradient-purple: linear-gradient(135deg, #CE9FFC, #7367F0);
  --icon-gradient-orange: linear-gradient(135deg, #DF9780, #A66DE9);
  --icon-gray: #4A4556;
  --progress-background: #D9D9D9;
  --progress-purple: linear-gradient(135deg, #CE9FFC, #7367F0);
  --progress-orange: linear-gradient(135deg, #DF9780, #A66DE9);
  --progress-green: linear-gradient(to bottom, #90F7EC, #32CCBC);
  --divider: #4A4556;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}