.chart {
  padding: 29px 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--chart);
  border-radius: 16px;
  box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
}

.weekly-sell {
  grid-column: 1/span 3;
  align-items: flex-start;
}

.weekly-sell__container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.weekly-sell__trending {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.trending {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: var(--text-white);
}

.trending span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--text-white);
}

.trending span::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.trending__most-sell span::before {
  background: var(--icon-gradient-green);
}

.trending__less-sell span::before {
  background: var(--icon-gradient-red);
  transform: matrix(1, 0, 0, -1, 0, 0);
}